@font-face {
	font-family: "titre_font";
	src: url("fonts/titre.woff") format("woff");
}

@font-face {
	font-family: "paragraphe_font";
	src: url("fonts/paragraphe.woff") format("woff");
}

/*
display: grid;

	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 25% 25% 25% 25%;
	
grid-row: 4/5;
	grid-column: 3/5;