
#page {
	border: black 2px solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header {
	order: 1;
	background-color: rgba(102, 161, 255, 0.7);
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	flex: 1;
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 25px;
	justify-content: space-around;
	background-color: rgba(235, 255, 102, 0.6);

}

.content {
	flex: 7;
	order: 3;
	padding-left: 20px;
	height: 80vh;
	background-color: rgba(255, 171, 102, 0.7);
	overflow: auto;
}
p {
	width: 75%;
	text-align: justify;
	font-size: 2em;
}


footer {
	order:4;
	align-items: center;
	background-color: gray;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 5vh;
}
