body {
	margin: 0px;
}



#page {
	font-family: paragraphe_font;
	font-size: 1;

	height: 100vh;
	display: grid;
	grid-template-rows: 18% auto 6%;
	grid-template-columns: auto 35%;

	grid-template-areas: "header header"
						 "section aside"
						 "footer footer"
}

h1, h3 {
	font-family: "titre_font";
}

p, h1, h3 {
	margin: 20px;
}

p {
	text-align: justify;
}
a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
header {
	grid-area: header;
	display: grid;
	grid-template-rows: 18vh;
	grid-template-columns: auto 35%;


}

#titre {
	background-color: rgba(97, 165, 255);
	display: flex;

	justify-content: center;
	align-items: center;
}

nav {
	background-color: rgba(62, 113, 181);
	border-left: 2px black dashed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5em;
}


section {
	border-top: 4px black solid;
	background-color: white;
	grid-area: section;
	overflow-y: scroll;

}

aside {
	border-top: 4px black solid;
	background-color: rgb(235, 235, 235);
	grid-area: aside;
	border-left: 2px black dashed;

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

footer {
	border-top: 4px black solid;
	background-color: rgba(97, 165, 255);
	grid-area: footer;
	overflow-y: hidden;
	display: flex;
	align-items: center;
}

#moi_figure {
	height: 24vh;
	width: 24vh;
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	background: url("images/avatar_mini.jpg");
	background-size: 24vh 24vh;
}

#bouton_propos {
	position: absolute;
	bottom:0px;
	right: 0px;
	width: 30%;
	height: 15%;
	border: 0.5vh black solid;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

}

aside p {
	font-size:1em;
}

#contact_text {
	font-size: 0.9em;
}

input, textarea {
	margin: 5px;
}

/*
#image_moi {
	max-width: 25vh;
	max-height: 25vh;

}

#bouton_propos {
	background-color: rgba(255, 255, 255, 0.9);
	border: 4px black solid;
	padding: 5px;
}

#bouton_propos:hover {
	background-color: rgba(200, 200, 200, 0.9);